/* index css */
#index {
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sub-title {
        margin-top: 4px;
        margin-bottom: 16px;
        text-align: center;
        font-style: italic;
        opacity: 0.8;
    }

    .button {
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        cursor: pointer;
        display: inline-block;
        height: 44px;
        line-height: 44px;
        outline: 0;
        overflow: hidden;
        padding: 0 20px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 200px;
        z-index: 9;
        border: 0;
        font-weight: bold;
        margin-bottom: 20px;
      }

    .button:hover {
        background-color: #9cd7b0; /* ホバー時の色 */
    }

    .card {
        margin-bottom: 24px;
        text-align: left;

        a {
            font-size: large;
            font-weight: bold;
            text-decoration: solid;
            margin-bottom:4px;
        }
    }
}
